@using LicentaTest.Data.Entities
@using LicentaTest.Models.Rentals
@model List<RentalAgreement>
@{
    ViewData["Title"] = "CarRentalList";
}
<h1>@ViewData["Title"]</h1>
@if(!Model.Any())
{
    <div>Nu ai nicio inchiriere inca.</div>
}
<div class="btn-success"><a class="nav-link text-dark" asp-area="" asp-controller="Rentals" asp-action="AddNewRental">Inchiriaza o masina</a></div>
@foreach (var rental in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label asp-for="@rental.Id"></label>
            </div>
            <div class="col-8">
                <label>@rental.Id</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="@rental.CarType"></label>
            </div>
            <div class="col-8">
                <label>@rental.CarType</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="@rental.RentalStartDate"></label>
            </div>
            <div class="col-8">
                <label>@rental.RentalStartDate</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="@rental.RentalEndDate"></label>
            </div>
            <div class="col-8">
                <label>@rental.RentalEndDate</label>
            </div>
        </div>
    </div>
}

